/* this CSS file is used by my poker webpages -->
<!-- it is included in the head section of each page -->
<!-- It defines card images and the layout of the page -->
<!-- Include it by adding the following line to the head section of each page -->
<!-- <link rel="stylesheet" type="text/css" href="poker.css" /> -->
<!-- The following line is used to make the page responsive  -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
*/

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: thin; /* for Firefox */
}

body::-webkit-scrollbar {
  width: 0.5em; /* for Chrome, Safari and Opera */
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #FFFFFF, #CCE5FF);
  /*background: linear-gradient(to right, #FFFFFF, #96c6ee);*/
  padding-right: 1em; /* right and left padding are the same */
  padding-left: 1em;
  padding-top: 0%; /* top and bottom padding are the same */
  margin: 0;
}

.game-container {
  max-width: 800px; /* Sets the maximum width */
  width: 100%; /* Makes it responsive for smaller screen sizes */
  margin: 0 auto; /* Centers the container */
}


.card {
  /*display: inline-block;*/
  display: inline-flex;
  flex-direction: row; /* side-by-side for non-mobile devices */
  justify-content: center;
  align-items: flex-start; /* start at the top of the card */
  padding-top: 10px; /* Adjust this value to change the vertical position of the card */
  width: 80px;
  height: 120px;
  border: 3px solid black;
  padding: 10px;
  margin: 5px;
  margin-top: 20px;
  /*font-size: 20px;*/
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.card-rank {
  font-size: 42px;
  font-weight: bold;
  /* display: inline-block;*/
  pointer-events: none;
}

.card-suit {
  font-size: 42px;
  /*display: inline-block;*/ 
  /*margin-left: 5px;*/
  pointer-events: none;
}

.red {
  color: red;
}

.black {
  color: black;
}

/* Media query for mobile devices - 5 cards don't fit across under 630 (card size 80) */
@media screen and (max-width: 630px) {

  .card {
    flex-direction: column; /* stack on mobile */
    width: 40px;
    height: 75px;
    padding: 3px;
    margin: 3px;
    margin-top: 10px;
    align-items: center; /* Center items vertically in the card */
    justify-content: center; /* Center items horizontally in the card */
  }
  .card-suit {
    margin-top: 0px; /* reduced margin */
    font-size: 36px;
    line-height: 1; /* added line-height */
  }
  .card-rank {
    /* get suit and rank closer to each other vertically */
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1; /* added line-height */
  }
}

@media screen and (max-width: 326px) {
  body {
    padding-left: 0em;
    padding-right: 0em;
  }
  .card {
    width: 48px; /* Adjust this value for better fit */
    height: 75px; /* Adjust this value for better fit */
    padding: 0px;
    margin: 1px;
    margin-top: 5px;
    /* adjust font sizes and other styles as needed */
  }

  .card-suit {
    font-size: 24px; /* Adjust this value for better fit */
  }

  .card-rank {
    font-size: 24px; /* Adjust this value for better fit */
  }
}



.selected {
  background-color: cyan;
}

/*<!-- need a class for when the user selected a card and it was right -->
<!-- need a class for when the user selected a card and it was wrong -->
*/

.selected-wrong {
  border: 3px solid red;
}

.selected-right {
  background-color: powderblue;
  border: 3px solid green;
  transform: translateY(-10px);
  /* Adjust this value to control the distance */
  transition: transform 0.3s ease;
  /* Optional: Add a smooth transition effect */
}

/*  need a class for when the user didn't select a card but should have */
.should-have-selected {
  background-color: powderblue;
  border: 3px solid red;
  transform: translateY(-10px);
  /* Adjust this value to control the distance */
  transition: transform 0.3s ease;
  /* Optional: Add a smooth transition effect */
}

.selected-wrong,
.unselected-right {
  opacity: 0.5;
  /* grey out the cards that weren't selected */
  transition: opacity 0.3s ease;
  /* Optional: Add a smooth transition effect */
}



.chart-container {
  max-width: 80%;
  /* Adjust this value to control the maximum width */
  max-height: 20%;
  /* Adjust this value to control the maximum height */
}

.collapsible-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collapsible-button, .collapsible-link {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: auto;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.collapsible-button:hover, .collapsible-link:hover {
  background-color: #0056b3;
}

.collapsible-link {
  text-decoration: none; /* Removes the underline from the link */
  color: white; /* Makes the link text white */
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* Move the Settings button to the right */
#settings-button {
  order: 1;
}

/* Make the Home link the first item */
.collapsible-link {
  order: -1;
}


/* table container needs to be able to scroll */
.table-container {
  overflow-x: auto;
  /* Optional: Set a specific height */
  /* Optional: Add a scrollbar */
}

.card-section {
  position: relative;
}

.label {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid #000;
  top: 10px; /* Adjust this value to change the vertical position of the label */
  left: 4px; /* Adjust this value to change the horizontal position of the label */
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

#timer {
  margin-left: 20px;  /* Adjust the value to create the amount of space you want */
}


#omaha_score_true,
#omaha_score_user,
#Holdem_score_true,
#Holdem_score_user,
#score_true,
#score_user {
  min-height: 20px;   /* Set this to the height you want to reserve */
  max-height: 20px;   /* Set this to the height you want to reserve */
}